.complaint-card{
    display: flex;
    flex-direction: column; 
    margin: 10px 10px 30px 10px;
    box-shadow: 0px 4px 0px #658BC1;

    .complaint-title{
        display: flex; 
        justify-content: space-between; 
        padding-left:10px;
        color: #4A6370;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.015em;
        background: #E8E8E8;
    }

    .card-content{
        background: #ffffff; 
        display: flex; 
        padding-bottom: 20px;
    }

    .complaint-description{
        margin: 10px; 
        font-size: 20px; 
        font-weight: 500; 
        letter-spacing: 0.015em;
    }

    .complaint-place{
        margin:10px 10px 30px 10px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        border-radius: 100px; 
        color: white; 
        font-size: 10px;
        letter-spacing: 0.015em; 
        background: #658bc1; 
        width: 100px; 
        height: 24px;
    }

    .container-items{
        display: flex; 
        margin: 10px;
    }

    h5{
        margin: 0;
        font-size: 15px; 
        font-weight: 500; 
        line-height: 150%;
        letter-spacing: 0.015em; 
        color: #4a6370;
    }

    h6{
        margin: 0;
        font-size: 10px; 
        font-weight: 500; 
        line-height: 150%;
        letter-spacing: 0.015em; 
        color: #4a6370;
    }

    .container-toggle{
        display: flex; 
        align-items: flex-end; 
        justify-content: end;
    }

    #updated-date{
        margin: 0px 5px;
        font-size: 10px; 
        font-weight: 500; 
        line-height: 150%;
        letter-spacing: 0.015em; 
        color: #bab7b7;
    }

    #created-date{
        align-items: flex-end; 
        margin: 0;font-size: 15px; 
        font-weight: 500; 
        line-height: 150%;
        letter-spacing: 0.015em; 
        color: #bab7b7;
    }

}