div{
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 400px;
    background: white;
}

@media only screen and (max-width: 400px){
    div{
        min-width: 0px !important;
        width: 90%;
        margin: 0 auto;
    }
}