.app-container{
    width: 100%; 
    display: flex; 
    height: calc(100% - 20px);
    padding-top: 20px;

    .app-content{
        display: flex; 
        gap: 30px; 
        justify-content: center;
         width: 90%; 
         flex-wrap: wrap;
    }
    .coluna {
        display: flex; 
        flex-direction: column;
    }

    .filtro{
        width: 10%; 
        display: flex; 
        justify-content: center
    }

    .filtro-response{
        display:none;
    }

}
@media only screen and (max-width: 768px){
    .filtro-response{
        width: 56%; 
        display: flex !important; 
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .filtro{
        display: none !important;
    }

    .app-container{
        flex-direction: column !important;
    }

    .app-content{
        width: 100% !important;
    }
}